HistoricalArtifactsManagementSystem/node_modules

# Ignore project-specific build artifacts
HistoricalArtifactsManagementSystem/bin/
HistoricalArtifactsManagementSystem/obj/

# Ignore Visual Studio files
*.vs/
HistoricalArtifactsManagementSystem/.vs

# Ignore NuGet packages
packages/

# Exclude solution file
HistoricalArtifactsManagementSystem.sln